/* RESET */
/* -----#------------------------------------ */
*,html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,label,fieldset,input,p,blockquote,th,td{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0 none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none outside none;}
caption,th{text-align:left;}
table p{display: inline;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:"";}
a img { border:medium none;}
img{border:medium none;display:block;}
a{color: #000; text-decoration:none;}
a:hover {color: #E7BF3A;}
strong{font-weight: bold;}
iframe{display: block;}

.last { margin-right: 0!important; }
.fl { float: left }
.fr { float: right }
.no-margin{ margin: 0!important; }
.mt-50 { margin-top: 50px; }
.no-border {border: none!important;}
.text-align-center { text-align: center!important;}
.clearfix:after { clear: both; content: ""; display: block; height: 0; }

*
{ transition:all 300ms;-moz-transition:all 300ms; /* Firefox 4 */-webkit-transition:all 300ms; /* Safari and Chrome */-o-transition:all 300ms; /* Opera */ }

nav ul>li>ul, .accordion-content
{ transition:all 0ms;-moz-transition:all 0ms; /* Firefox 4 */-webkit-transition:all 0ms; /* Safari and Chrome */-o-transition:all 0ms; /* Opera */ }

p { color: #444; line-height: 13px; line-height: 22px; font-family: 'Open Sans', Arial, sans-serif; }

h1 { font-size: 40px; color: #2c2f36; font-weight: 600; text-transform: uppercase; }
h2 { font-size: 30px; color: #2c2f36; font-weight: 300; text-transform: uppercase;}
h3 { font-size: 22px; color: #2c2f36; font-weight: 400; text-transform: uppercase;}
h4 { font-size: 16px; color: #2c2f36; font-weight: 400; }
h5 { font-size: 15px; color: #2c2f36; font-weight: 400; }
h6 { font-size: 13px; color: #2c2f36; font-weight: 400; }
a h1:hover, a h2:hover {
	color: #E7BF3A;
}
/************** Master ***************/
/* ----------------------------------------- */
/************** General Sections **************/
body { 
	font-family: 'Roboto Condensed', Open Sans, Arial, sans-serif;
	font-size: 13px;
}

/*  SECTIONS  ============================================================================= */
.center-container {
	max-width: 1050px!important;
	margin: 0 auto;
}
.center-content {
	margin: 0 auto!important;
	float: none!important;
}

section {
	clear: both;
	margin: 0px;
}
section:after { clear: both; content: ""; display: block; height: 0; }

.bg-00 {
	height: 100%;
	background: url('../img/wallpaper2.png') center top no-repeat fixed;
	background-size: cover;
}
.bg-01 {
	height: 100%;
	background: url('../img/wallpaper2.png') center top no-repeat;
	background-size: cover;
}
.bg-02 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') center top no-repeat;
	background-size: cover;
}
.bg-03 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') center top no-repeat;
	background-size: cover;
}
.bg-04 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') center top no-repeat;
	background-size: cover;
}
.bg-05 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') left top no-repeat;
	background-size: cover;
}
.bg-06 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') left top no-repeat;
	background-size: cover;
}
.bg-07 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') left top no-repeat;
	background-size: cover;
}
.bg-08 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') left top no-repeat;
	background-size: cover;
}
.bg-09 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') left top no-repeat fixed;
	background-size: cover;
}
.bg-10 {
	height: 100%;
	background: #fff url('../img/wallpaper2.png') left top no-repeat fixed;
	background-size: cover;
}
/*  MODULES  ============================================================================= */
.module {
	margin-bottom: 60px;
}
.module img {
	width: 100%;
}

.module-content i {
	margin-right: 20px;
}

.module-content {
	padding: 60px 45px;
	color: #fff;
}

.module-content:after {
	clear: both; content: ""; display: block; height: 0;
}

.module-content p {
	margin: 20px 0 20px;
	line-height: 22px;
	font-size: 13px;
	font-weight: 500;
}

.bg-white {
	background: #fff;
}

.bg-grey {
	background: #e8e8e8;
}

.bg-orange {
	background: #E7BF3A;
}

.bg-orange a:hover h2 {
	color: #fff;
}

.bg-dark-blue {
	background: #2c2f36;
}

.bg-dark-blue p {
	color: #fff;
}
.bg-dark-blue h2 {
	color: #fff;
}
/*  GRID OF TWELVE   ============================================================================= */
.m-12 {width: 100%;}
.m-11 {width: 91.663%;}
.m-10 {width: 83.33%;}
.m-09 {width: 74.997%;}
.m-08 {width: 66.664%;}
.m-07 {width: 58.331%;}
.m-06 {width: 49.998%;}
.m-05 {width: 41.665%;}
.m-04 {width: 33.332%; }
.m-03 {width: 25%;}
.m-02 {width: 16.666%;}
.m-01 {width: 8.333%;}
.m-01, .m-02, .m-03, .m-04, .m-05, .m-06, .m-07, .m-08, .m-09, .m-10, .m-11, .m-12 {
	float: left;
}
.m-01 img, .m-02 img, .m-03 img, .m-04 img, .m-05 img, .m-06 img, .m-07 img, .m-08 img, .m-09 img, .m-10 img, .m-11 img, .m-12 img {
	width: 100%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */


@media (max-width: 991px) {

	.m-12 {width: 100%;}
	.m-11 {width: 100%;}
	.m-10 {width: 100%;}
	.m-09 {width: 100%;}
	.m-08 {width: 100%;}
	.m-07 {width: 100%;}
	.m-06 {width: 100%;}
	.m-05 {width: 100%;}
	.m-04 {width: 100%;}
	.m-03 {width: 100%;}
	.m-02 {width: 100%;}
	.m-01 {width: 100%;}

header h1 {
	margin: 80px 0 20px!important;
	padding: 0 20px;
	font-size: 40px!important;
	color: #fff;
	display: inline-block;
	background-color: rgba(0,0,0,0.4); 
}
header h2 {
	margin: 30px 0 10px!important;
	padding: 0 20px;
	font-size: 20px!important;
	font-weight: 700;
	color: #fff;
}
header p {
	margin: 0 auto 30px;
	color: #fff;
	width: 90%!important;
}
.module-content {
	padding: 30px 20px;
}
.content {
	padding: 30px 10px;
}
.sport, .radio, .sidebar, nav {
	display: none!important;
}

.all-sport-menu ul li {
	display: inline-block!important;
}
.all-sport-menu ul li.title {
	margin-top: 30px;
	display: block!important;
}
.module img {
	width: 100%;
}

.nav-mobile {
	display: block!important;
}
.big-heading {
	padding: 30px 0!important;
}
.big-heading p {
	width: 90%!important;
}

footer .module-content {
	text-align: center;
}

.leftTeam, .rightTeam { display: none!important;}
.soon-countdown ul li {
	margin: 20px 10px 0!important;
}

.countdown-big div{
	font-size: 40px!important;
	line-height: 30px!important;
	margin-left: 15px!important;	
}

}
/*  HEADER   ============================================================================= */
header {

	background: url('../img/wallpaper2.png') center top no-repeat fixed;
	background-size: cover;
	text-align: center;
	border-bottom: 5px solid rgba(0,0,0,0.4);
}
.header-content {
	padding-bottom: 150px;
}
.logo {
	display: inline-block;
	margin-left: 50px;
}
nav .logo a {
	color: #fff;
}
nav {
	text-align: left;
	width: 100%;
	padding: 20px 0;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
	z-index: 9999;
	border-bottom: 5px solid rgba(0,0,0,0.1);
}

nav ul {
	float: right;
	margin-right: 50px;
}

nav ul li {
	display: inline;    
	padding: 25px 0; 
	margin-left: 40px;
	line-height: 30px;
}

nav ul>li { 
	position: relative; 
}

nav ul>li>ul { 
	width: 180px; 
	position: absolute; 
	left: -9999px;
	z-index: 9999; 
	top: 45px; 
}

nav ul>li:hover>ul { 
	left: -10px; 
}

nav ul li:hover ul {
	border-bottom: none!important;
}

nav ul li ul li { 
	padding: 5px 20px; 
	margin-left: 0px;
	display: block; 
	background-color: rgba(0,0,0,0.8); 
	text-align: left;  
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

nav ul li ul li:hover { 
	border-bottom: 2px solid #E7BF3A;
}

nav ul li ul li:hover>a { 
	color: #E7BF3A;
	padding-left: 6px;
	margin: 5px 0;
	font-size: 16px;
}

nav ul>li>ul { 
	display: block; 
	position: absolute; 
	left: -9999px; 
}

nav ul>li>ul>li:hover>ul { 
	width: 210px; 
	left: 165px; 
	margin-top: -35px; 
}

nav ul li a {
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
}

nav ul li ul li a { 
	display: block; 
	line-height: 30px; 
	font-size: 15px;
	margin: 0; 
	text-transform: capitalize; 
}

header h1 {
	margin: 150px 0 40px;
	padding: 0 20px;
	font-size: 80px;
	color: #fff;
	display: inline-block;
	background-color: rgba(0,0,0,0.4); 
}
header h2 {
	margin: 50px 0 20px;
	padding: 0 20px;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
}
header p {
	margin: 0 auto 30px;
	color: #fff;
	width: 40%;
}
.active a {
	color: #E7BF3A!important;
}



/**
* Template Name: Bell - v2.2.0
* Template URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.55;
  color: #333;
  font-size: 400;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a {
  transition: 0.5s;
  color: #199EB8;
}

a:hover {
  color: #23c2e1;
}

/* ==================================================
  Elements
  ================================================== */
.btn {
  background-color: #102055;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #fff;
  padding: 15px 45px;
  border-radius: 50px;
}

.btn:hover {
  background-color: #f0e006;
  color: rgb(0, 0, 0);
}

.btn:focus {
  color: #fff;
}

.btn-ghost {
  border: 3px solid #fff;
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #199EB8;
}

section {
  padding: 85px 0;
}

.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
}

a:hover {
  text-decoration: none !important;
}

.scrolltop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #199EB8;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.scrolltop:hover, .scrolltop:active, .scrolltop:focus {
  color: #fff !important;
  opacity: .75;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #000011;
  height: 70px;
}

#header #logo {
  margin: 14px 25px 0 0;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header {
    height: 50px;
  }
  #header #logo {
    margin: 10px 0 0 0;
  }
  #header #logo h1 {
    padding: 2px 0;
    font-size: 26px;
  }
  #header #logo img {
    max-height: 30px;
  }
}

#header .social-nav {
  margin-top: 15px;
}

#header .social-nav a {
  font-size: 24px;
  margin-left: 15px;
  color: #fff;
}

#header .social-nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 22px 15px 18px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: rgba(255, 255, 255, 0.75);
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #001380;
  transition: 0.3s;
}

.nav-menu ul li a {
  color: #333;
  transition: none;
  padding: 10px 15px;
}

.nav-menu ul li a:hover {
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 8px 10px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #082f36;
}

#mobile-nav ul .menu-item-active {
  color: #024b5a;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  display: table;
  position: relative;
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.hero:after {
  content: '';
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin-top: 150px;
}

.hero-brand {
  margin-bottom: 75px;
  display: inline-block;
}

.hero-brand:hover {
  opacity: .75;
}

.tagline {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 45px 0 75px 0;
  color: #fff;
}

/*--------------------------------------------------------------
# Stats
--------------------------------------------------------------*/
.stats-row {
  margin-top: 65px;
}

.stats-col .circle {
  display: inline-block;
  width: 160px;
  height: 160px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #666;
  border: 6px solid #000011;
  border-radius: 50%;
  padding: 55px 25px 0 25px;
  position: relative;
}

.stats-col .circle .stats-no {
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: -25px;
  right: -15px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #0d3e3a;
  position: absolute;
  border-radius: 50%;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #e6e6e6ab;
  min-height: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #0d3e3a;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
  color: #0d3e3a;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0d3e3a;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* ==================================================
  Welcome Styling
  ================================================== */
.welcome {
  color: #fff;
  height: 490px;
  overflow: hidden;
  padding-top: 85px;
  background: url("../img/parallax-bg.jpg") center top no-repeat;
}

.welcome h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.welcome p {
  color: #fff;
  margin-bottom: 45px;
}

/* ==================================================
  Features Styling
  ================================================== */
.features {
  padding-bottom: 45px;
}

.features h2 {
  color: #000011;
}

.feature-col {
  display: table;
  padding-bottom: 45px;
}

.feature-col > div > div {
  display: table-cell;
  vertical-align: middle;
}

.feature-col > div > div:last-child {
  padding-left: 20px;
}

.feature-col .feature-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  background: #000011;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  display: inline-block;
}

.feature-col h3 {
  color: #000011;
}

.feature-col p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #999;
}

/* ==================================================
  Call-to-action Styling
  ================================================== */
.cta {
  background-color: #199EB8;
  padding: 25px 0;
}

.cta h2 {
  margin-bottom: 5px;
}

.cta h2,
.cta p {
  color: #fff;
}

.cta p {
  margin-bottom: 0;
  opacity: .75;
}

.cta .btn-ghost {
  position: relative;
  top: 13px;
}

/* ==================================================
  Portfolio Styling
  ================================================== */
.portfolio {
  background-color: #000011;
  padding-bottom: 0;
  
}

.portfolio h2,h5 {
  color: #ffffff;
  margin-bottom: 25px;
}

.portfolio-grid {
  margin-top: 65px;
}

.portfolio-grid .row {
  margin: 0;
}

.portfolio-grid .row > div {
  padding: 0;
}

.portfolio-grid .row > div .card img {
  width: 100%;
}

.portfolio-grid .row > div .card .portfolio-over {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.portfolio-grid .row > div .card .portfolio-over > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio-grid .row > div .card .portfolio-over .card-title {
  color: #fff;
  font-size: 30px;
}

.portfolio-grid .row > div .card .portfolio-over .card-text {
  color: #fff;
  opacity: .75;
  padding: 0 45px;
}

.portfolio-grid .row > div .card:hover .portfolio-over {
  opacity: 1;
  visibility: visible;
}


/* ==================================================
  Contact Section
  ================================================== */
#contact {
  background: #f7f7f7;
  padding: 80px 0;
}

#contact h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #000011;
}

#contact .info i {
  font-size: 32px;
  color: #0D3E3A;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input, #contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
  background-color: #199EB8;
}

#contact .php-email-form button[type="submit"] {
  background: #0D3E3A;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .php-email-form button[type="submit"]:hover {
  background: #23c2e1;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #111;
  padding: 0;
}

.site-footer h2,
.site-footer p {
  color: #fff;
}

.site-footer p {
  opacity: .75;
  line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
  margin-bottom: 25px;
}

.site-footer .social-nav a {
  color: #fff;
  opacity: .25;
}

.site-footer .social-nav a:hover {
  opacity: 1;
}

.site-footer .bottom {
  background-color: #000;
  padding: 20px 0;
}

.site-footer .bottom .list-inline,
.site-footer .bottom p {
  margin: 0;
}

.site-footer .bottom .list-inline {
  position: relative;
  top: 5px;
}

.site-footer .bottom .list-inline a {
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-right: 15px;
}

.site-footer .bottom .list-inline a:hover {
  color: #199EB8;
}

.site-footer .credits {
  color: #ddd;
}

.site-footer .credits a {
  color: #199EB8;
}

/* ==================================================
  Responsive Styling
  ================================================== */
@media (max-width: 61.9em) {
  section,
  .block,
  .cta {
    padding: 35px 0;
  }
  .features {
    padding-bottom: 5px;
  }
  p,
  .block p {
    margin: 0;
  }
  .hero-brand {
    margin-bottom: 35px;
  }
  .tagline {
    margin: 35px 0;
  }
  h1 {
    font-size: 32px;
    margin: 0;
  }
  h2,
  .tagline {
    font-size: 24px;
  }
  h2 {
    margin-bottom: 25px;
  }
  h3 {
    font-size: 14px;
  }
  .hero {
    padding: 75px 0;
  }
  .stats-col {
    margin-bottom: 25px;
  }
  .block {
    height: auto;
  }
  .feature-col {
    padding-bottom: 30px;
  }
  .portfolio-grid .card h3.card-title {
    font-size: 18px !important;
  }
  .portfolio-grid .card .card-text {
    font-size: 13px;
  }
  .team .team-over {
    padding-top: 20px;
  }
  .team .card .social-nav {
    margin-bottom: 15px;
    padding: 0;
  }
  .site-footer .social-nav {
    margin-bottom: 35px;
  }
  .site-footer .list-inline {
    text-align: center;
    padding-bottom: 15px;
  }
  .site-footer .list-inline li {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .block {
    padding-left: 30px;
    padding-right: 30px;
  }
}
body{
    
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}




.containers{
  margin-top: 50px;
  margin-left: 490px;
  margin-bottom: 100px;
}
.container2{
  margin-top: 50px;
  margin-left: 370px;
  margin-bottom: 100px;
}
h5{
  color: black !important;
}